.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@font-face {
  font-family: 'Proxima Nova Light';
  font-style: normal;
  font-weight: 300;
  src: url(./assets/fonts/ProximaNova/5474.otf) format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: normal;
  src: url(./assets/fonts/ProximaNova/175.otf) format('opentype');
}

@font-face {
  font-family: 'Proxima Nova Medium';
  font-style: normal;
  font-weight: 500;
  src: url(./assets/fonts/ProximaNova/25136.otf) format('opentype');
}

@font-face {
  font-family: 'Proxima Nova Bold';
  font-style: normal;
  font-weight: 700;
  src: url(./assets/fonts/ProximaNova/139.otf) format('opentype');
}

@font-face {
  font-family: 'Proxima Nova Black';
  font-style: normal;
  font-weight: 900;
  src: url(./assets/fonts/ProximaNova/137.otf) format('opentype');
}

/*
100 Thin (Hairline)
200 Extra Light (Ultra Light)
300 Light
400 Normal
500 Medium
600 Semi Bold (Demi Bold)
700 Bold
800 Extra Bold (Ultra Bold)
900 Black (Heavy)
*/